@model SystemZglaszaniaUsterek.Controllers.PriorityFormModel
@{
    ViewData["Title"] = "Edycja priorytetu";
}
<h1 class="mb-3">Edycja priorytetu</h1>
<div class="row"><div class="col-md-4">
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label fw-bold"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success me-2">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
</div></div>

@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }
